<!DOCTYPE html>
<html>
<head>
  <title>Fiat publication</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "fiat_publication/application", media: "all" %>
  <%= javascript_include_tag "fiat_publication/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
