<%= simple_form_for [FiatPublication::ContentBlock.new] do |f| %>
  <%= f.input :publishable_type, as: :hidden, input_html: { value: params[:publishable_type] } %>
  <%= f.input :publishable_id, as: :hidden, input_html: { value: params[:publishable_id] } %>
  <%#= f.input :priority, as: :hidden, input_html: { value: 0 } %>
  <div class="row">
    <div class="col-12">
      <p class="desc">What type of content would you like to add?</p>
    </div>
    <%= f.input :block_type, label: false, collection: FiatPublication::ContentBlock.block_types.keys.map { |w| [w.humanize, w] }, prompt: "Select type", wrapper_html: { class: 'col-12' } %>
    <div class="col-12">
      <%= f.button :button, type: :submit, class: 'btn btn-secondary' do %>Create block<% end %>
    </div>
  </div>
<% end %>
