<%= simple_form_for [namespace, content_block] do |f| %>
  <%= f.input :publishable_type, as: :hidden, input_html: { value: params[:publishable_type] } %>
  <%= f.input :publishable_id, as: :hidden, input_html: { value: params[:publishable_id] } %>
  <%#= f.input :priority, as: :hidden, input_html: { value: 0 } %>
  <div class="row">
    <div class="col-12">
      <h6><%= content_block.block_type.humanize %></h6>
    </div>
    <div class="col-12">
      <% if content_block.text? %>
      Editor field...
      <% end %>
    </div>
    <div class="col-12">
      <%= f.button :button, type: :submit, class: 'btn btn-link' do %><i class="far fa-save mr-2"></i>Save this block<% end %>
    </div>
  </div>
<% end %>
