<%= simple_form_for content_block, url: url do |f| %>
  <%#= f.input :priority, as: :hidden, input_html: { value: 0 } %>
  <div class="row">
    <div class="col-12">
      <h6><%= content_block.block_type.humanize %></h6>
    </div>
    <div class="col-12">
      <% if content_block.text? %>
        <h1><%= content_block.token %></h1>
        <%= f.trix_editor :text_content, placeholder: "Type page content here..." %>
      <% end %>
    </div>
    <div class="col-12">
      <%= f.button :button, type: :submit, class: 'btn btn-link' do %><i class="far fa-save mr-2"></i>Save this block<% end %>
    </div>
  </div>
<% end %>
