<%= simple_form_for content_block, url: url do |f| %>
  <%#= f.input :priority, as: :hidden, input_html: { value: 0 } %>
  <div class="row">
    <div class="col-12">
      <% if content_block.text? %>
        <%= f.trix_editor :text_content, placeholder: "Type page content here..." %>
      <% elsif content_block.image? %>
        <% if content_block.image.attached? %>
          <%= image_tag content_block.image.variant(resize: "500x500"), width: "100%", class: "mb-3" %>
        <% end %>
        <%= f.input :image, as: :file, label: "Upload image" %>
      <% elsif content_block.buttons? %>
        <div class="row">
          <%= f.input :button_title_1, label: "Button Title (1)", wrapper_html: { class: 'col-lg-4' } %>
          <%= f.input :button_title_2, label: "Button Title (2)", wrapper_html: { class: 'col-lg-4' } %>
          <%= f.input :button_title_3, label: "Button Title (3)", wrapper_html: { class: 'col-lg-4' } %>
          <%= f.input :button_link_1, label: "Link", wrapper_html: { class: 'col-lg-4' } %>
          <%= f.input :button_link_2, label: "Link", wrapper_html: { class: 'col-lg-4' } %>
          <%= f.input :button_link_3, label: "Link", wrapper_html: { class: 'col-lg-4' } %>
        </div>
      <% end %>
    </div>
    <div class="col-12">
      <%= f.button :button, type: :submit, class: 'btn btn-link' do %><i class="far fa-save mr-2"></i>Save <%= content_block.block_type.humanize.downcase %><% end %>
    </div>
  </div>
<% end %>
