<div class="<%= my_classes %>">
  <% if content_block.text? %>
    <%= simple_format(content_block.text_content) %>
  <% elsif content_block.image? %>
    <% if content_block.image.attached? %>
      <%= image_tag content_block.image.variant(resize: "1200x1200"), width: "100%" %>
    <% end %>
  <% elsif content_block.buttons? %>
    <div class="container">
      <div class="row justify-content-center">
        <% if content_block.button_title_1? && content_block.button_link_1? %>
          <div class="col-lg-4">
            <%= link_to content_block.button_title_1, "#{content_block.button_link_1}", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
        <% if content_block.button_title_2? && content_block.button_link_2? %>
          <div class="col-lg-4">
            <%= link_to content_block.button_title_2, "#{content_block.button_link_2}", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
        <% if content_block.button_title_3? && content_block.button_link_3? %>
          <div class="col-lg-4">
            <%= link_to content_block.button_title_3, "#{content_block.button_link_3}", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
