<section class="page cms editor">
  <div class="container">
    <%#= simple_form_for [namespace, @page] do |f| %>
      <%#= render partial: 'layouts/templates/pages/form', locals: { f: f } %>
    <%# end %>
    <div class="row justify-content-end">
      <div class="col-lg-8">
        <% if page.content_blocks.any? %>
          <% page.content_blocks.each do |i| %>
            <div class="sheet p-5 mb-3 bg-white layer-0">
              <% content_block = ContentBlock.find(i.id) %>
              <%= render partial: 'content_blocks/form', locals: { content_block: content_block, url: content_block_path(content_block) } %>
              <%= link_to content_block_path(content_block), method: :delete, data: { confirm: "Are you sure you want to remove this block?" }, style: "float: right;" do %><i class="far fa-trash"></i><% end %>
            </div>
          <% end %>
        <% else %>
          <p class="desc"><i class="far fa-info-circle mr-2"></i>To add content to this page, create a new content block, below.</p>
        <% end %>
        <%#= link_to new_content_block_path(publishable_type: "Page", publishable_id: page.id), remote: true, class: 'btn btn-secondary' do %><i class="far fa-plus mr-2"></i>Add content block<%# end %>
      </div>
      <div class="col-lg-4 my-2 py-5 pl-5 layer-0">
        <%= simple_form_for page, url: manage_fiat_publication.pages_path do |f| %>
          <%= f.button :button, type: :submit, class: "btn btn-primary layer-1 mb-5" do %><i class="far fa-check mr-2"></i>Save page<% end %>
          <%= f.input :excerpt, placeholder: "Add a short description (10 to 20 words)" %>
          <%= f.input :slug, placeholder: "page-slug" %>
          <p class="desc"><i class="far fa-image mr-2"></i>Add a featured image. Images should be at least 1500x800 pixels. This is the crop ratio.</p>
          <% if @page.image.attached? %>
            <%= image_tag @page.image.variant(resize: "500x500"), width: "100%", style: "max-width: 500px;", class: "mb-3" %>
            <%= f.input :image_placement, collection: Page.image_placements.keys.map { |w| [w.humanize, w] }, input_html: { class: 'chosen-select' }, prompt: "Select placement" %>
          <% end %>
          <%= f.input :image, as: :file, label: "Upload image" %>
        <% end %>
        <%= link_to page, method: :delete, data: { confirm: 'Are you sure? This cannot be undone. Click to confirm.' }, class: "btn btn-danger layer-1" do %>
          <i class="far fa-trash mr-2"></i>Delete this page
        <% end %>
      </div>
    </div>
  </div>
</section>
