<section class="page cms editor">
  <div class="container">
    <%= simple_form_for page, url: page_update_url do |f| %>
      <div class="row">
        <div class="col-lg-8">
          <% if action_name == "edit" %>
            <%= f.button :button, type: :submit, class: "btn btn-primary layer-1 mb-3 mr-3" do %><i class="far fa-check mr-2"></i>Save page<% end %>
            <%= link_to send("#{FiatPublication.view_page_path}"), target: "_blank", class: "btn btn-link mb-3 mr-3" do %><i class="far fa-external-link mr-2"></i>View page<% end %>
            <%= link_to send("#{FiatPublication.new_page_path}", nested_parent_id), class: "btn btn-link mb-3" do %><i class="far fa-plus mr-2"></i>New page<% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 py-3">
          <%= f.input :title, label: false, placeholder: "Title (required)" %>
        </div>
      </div>
    <% end %>
    <div class="row justify-content-end">
      <div class="col-lg-8">
        <% if page.content_blocks.any? %>
          <% page.content_blocks.order("position ASC").each do |i| %>
            <div class="sheet py-5">
              <h3>Edit block</h3>
              <% content_block = FiatPublication::ContentBlock.find(i.id) %>
              <% content_block_url = "#{content_block_path}/#{content_block.id}" %>
              <%= render partial: 'fiat_publication/content_blocks/form', locals: { content_block: content_block, url: content_block_url } %>
            </div>
          <% end %>
        <% else %>
          <p class="desc"><i class="far fa-info-circle mr-2"></i>To add content to this page, create a new content block, below.</p>
        <% end %>
        <%= link_to new_content_block_url, remote: true, class: 'btn btn-secondary' do %><i class="far fa-plus mr-2"></i>Add content block<% end %>
      </div>
      <div class="col-lg-4 my-2 pb-5 pl-3">
        <div class="mb-5">
          <%= render partial: 'fiat_publication/content_labels/checklist', locals: { labels: FiatPublication::ContentLabel.where(publisher_type: publisher_type, publisher_id: publisher_id).order("name ASC").all, assignable: page } %>
        </div>
        <%= simple_form_for page, url: page_update_url do |f| %>
          <%= f.input :excerpt, placeholder: "Add a short description (10 to 20 words)" %>
          <%= f.input :slug, placeholder: "page-slug" %>
          <% if page.image.attached? %>
            <%= image_tag page.image.variant(resize: "500x500"), width: "100%", style: "max-width: 500px;", class: "mb-3" %>
            <%= f.input :image_placement, collection: FiatPublication::Page.image_placements.keys.map { |w| [w.humanize, w] }, input_html: { class: 'chosen-select' }, prompt: "Select placement" %>
            <%= f.input :image, as: :file, label: "Replace image", hint: "At least 1500 x 800 pixels.", input_html: { direct_upload: true } %>
          <% else %>
            <%= f.input :image, as: :file, label: "Add featured image", hint: "At least 1500 x 800 pixels.", input_html: { direct_upload: true } %>
          <% end %>
          <%= f.button :button, type: :submit, class: "btn btn-primary layer-1 mb-5" do %><i class="far fa-check mr-2"></i>Save page<% end %>
        <% end %>
        <%= link_to "#{page_update_url}?nested_parent_id=#{nested_parent_id}", method: :delete, data: { confirm: 'Are you sure? This cannot be undone. Click to confirm.' }, class: "btn btn-danger layer-1" do %>
          <i class="far fa-trash mr-2"></i>Delete this page
        <% end %>
      </div>
    </div>
  </div>
</section>
