<section class="page cms editor">
  <div class="container">
    <%= simple_form_for page, url: page_update_url, remote: true, data: { controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error" } do |f| %>
      <div class="row">
        <div class="col-lg-8">
          <% if action_name == "edit" %>
            <%= f.button :button, type: :submit, class: "btn btn-primary layer-1 mb-3 mr-3" do %><i class="far fa-check mr-2"></i>Save page<% end %>
            <span class="text-muted btn mb-3 mr-3" data-target="autosave.status"></span>
            <%= link_to send("#{FiatPublication.view_page_path}"), target: "_blank", class: "btn btn-link mb-3 mr-3" do %><i class="far fa-external-link mr-2"></i>View page<% end %>
            <%= link_to send("#{FiatPublication.new_page_path}", nested_parent_id), class: "btn btn-link mb-3" do %><i class="far fa-plus mr-2"></i>New page<% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 py-3">
          <%= f.input :title, label: false, placeholder: "Title (required)", input_html: { data: { action: "change->autosave#save keyup->autosave#save" }} %>
          <%= f.input :slug, label: false, placeholder: "page-slug", input_html: { data: { action: "change->autosave#save keyup->autosave#save" }} %>
        </div>
        <div class="col-lg-4">
          <p class="desc"><i class="fas fa-quote-left mr-2"></i>Add a short excerpt</p>
          <%= f.input :excerpt, label: false, placeholder: "A short description (10 to 20 words)", input_html: { data: { action: "change->autosave#save keyup->autosave#save" }} %>
        </div>
      </div>
    <% end %>
    <div class="row justify-content-end">
      <div class="col-lg-8">
        <% if page.content_blocks.any? %>
          <p class="desc"><i class="far fa-layer-group mr-2"></i>Create content blocks and order them the way you want.</p>
          <% page.content_blocks.order("position ASC").each do |i| %>
            <div class="sheet py-5 border-bottom">
              <!-- <h3><%#= i.block_type.humanize %> block</h3> -->
              <% content_block = FiatPublication::ContentBlock.find(i.id) %>
              <% content_block_url = "#{content_block_path}/#{content_block.id}" %>
              <%= render partial: 'fiat_publication/content_blocks/form', locals: { content_block: content_block, url: content_block_url } %>
            </div>
          <% end %>
        <% else %>
          <p class="desc"><i class="far fa-layer-group mr-2"></i>Add content by creating blocks.</p>
        <% end %>
        <div class="py-5 border-bottom">
          <%= link_to new_content_block_url, remote: true, class: 'btn btn-secondary layer-1' do %><i class="far fa-plus mr-2"></i>Add content block<% end %>
        </div>
        <div class="py-5">
          <%= link_to "#{page_update_url}?nested_parent_id=#{nested_parent_id}", method: :delete, data: { confirm: 'Are you sure? This cannot be undone. Click to confirm.' }, class: "btn btn-danger layer-1" do %>
            <i class="far fa-trash mr-2"></i>Delete this page
          <% end %>
        </div>
      </div>
      <div class="col-lg-4 my-2 pb-5 pl-3">
        <p class="desc"><i class="far fa-camera-retro mr-2"></i>Include a featured image</p>
        <% if page.image.attached? %>
          <%= simple_form_for page, url: page_update_url, remote: true, data: { controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error" } do |f| %>
            <%= f.input :image_placement, collection: FiatPublication::Page.image_placements.keys.map { |w| [w.humanize, w] }, input_html: { data: { action: "change->autosave#save keyup->autosave#save" }}, prompt: "Select placement" %>
            <span class="text-muted btn mb-3 mr-3" data-target="autosave.status"></span>
          <% end %>
          <%= simple_form_for page, url: page_update_url do |f| %>
            <%= image_tag page.image.variant(resize: "500x500"), width: "100%", style: "max-width: 500px;", class: "mb-3" %>
            <%= f.input :remove_image, as: :boolean %>
            <%= f.button :button, type: :submit, class: "btn btn-danger remove-image-submit layer-1 mb-5", style: "display: none;" do %><i class="fal fa-check mr-2"></i>Confirm removal<% end %>
            <script>
              $(document).ready(function(){
                $('#page_remove_image').change(function(){
                  if(this.checked)
                    $('.remove-image-submit').css('display', 'block');
                  else
                    $('.remove-image-submit').css('display', 'none');
                });
              });
            </script>
          <% end %>
        <% else %>
          <%= simple_form_for page, url: page_update_url do |f| %>
            <%= f.input :image, as: :file, label: "Upload image", hint: "At least 1500 x 800 pixels.", input_html: { direct_upload: true } %>
            <%= f.button :button, type: :submit, class: "btn btn-primary layer-1 mb-5 upload-image-submit", style: "display: none;" do %><i class="far fa-cloud-upload mr-2"></i>Upload image<% end %>
            <script>
              $(document).ready(function(){
                $('#page_image').change(function(){
                  $('.upload-image-submit').css('display', 'block');
                });
              });
            </script>
          <% end %>
        <% end %>
        <div class="mb-5">
          <p class="desc"><i class="far fa-tags mr-2"></i>Include categories</p>
          <%= render partial: 'fiat_publication/content_labels/checklist', locals: { labels: FiatPublication::ContentLabel.where(publisher_type: publisher_type, publisher_id: publisher_id).order("name ASC").all, assignable: page } %>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="contentBlockModal" class="modal fade" role="dialog">
	<div class="modal-dialog layer-3" role="document">
		<div class="modal-content">
			<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
			<div class="modal-body">
				<p>One fine body…</p>
			</div>
		</div>
	</div>
</div>
