<section class="page cms editor">
  <div class="container">
    <%= simple_form_for article, url: article_update_url do |f| %>
      <div class="row">
        <div class="col-lg-8">
          <% if action_name == "edit" %>
            <%= f.button :button, type: :submit, class: "btn btn-primary layer-1 mb-3 mr-3" do %><i class="far fa-check mr-2"></i>Save article<% end %>
            <%= link_to send("#{FiatPublication.view_article_path}"), target: "_blank", class: "btn btn-link mb-3 mr-3" do %><i class="far fa-external-link mr-2"></i>View article<% end %>
            <%= link_to send("#{FiatPublication.new_article_path}", nested_parent_id), class: "btn btn-link mb-3" do %><i class="far fa-plus mr-2"></i>New article<% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 py-3">
          <%= f.input :title, label: false, placeholder: "Title (required)" %>
        </div>
      </div>
    <% end %>
    <div class="row justify-content-end">
      <div class="col-lg-8">
        <% if article.content_blocks.any? %>
          <% article.content_blocks.order("position ASC").each do |i| %>
            <div class="sheet p-5 mb-3 bg-white layer-0">
              <% content_block = FiatPublication::ContentBlock.find(i.id) %>
              <% content_block_url = "#{content_block_path}/#{content_block.id}" %>
              <%= render partial: 'fiat_publication/content_blocks/form', locals: { content_block: content_block, url: content_block_url } %>
            </div>
          <% end %>
        <% else %>
          <p class="desc"><i class="far fa-info-circle mr-2"></i>To add content to this article, create a new content block, below.</p>
        <% end %>
        <%= link_to new_content_block_url, remote: true, class: 'btn btn-secondary' do %><i class="far fa-plus mr-2"></i>Add content block<% end %>
      </div>
      <div class="col-lg-4 my-2 pb-5 pl-3">
        <div class="row">
          <div class="col-12">
            <% if !article.is_published? %>
              <%= simple_form_for article, url: article_update_url do |f| %>
                <%= f.input :published_at, html5: true, as: :date, label: "Select a publication date" %>
                <%= f.button :button, type: :submit, class: "btn btn-success layer-1 mb-5", data: { confirm: 'Please make sure to save any changes to the article before publishing. Are you sure you are ready?' } do %><i class="far fa-envelope mr-2"></i>Publish this article<% end %>
              <% end %>
            <% else %>
              <p class="desc"><i class="far fa-envelope mr-2"></i><%= l article.published_at, format: :date_only %></p>
              <%= simple_form_for article, url: article_update_url do |f| %>
                <%= f.input :published_at, as: :hidden, input_html: { value: nil }, wrapper_html: { class: 'my-0' } %>
                <%= f.button :button, type: :submit, class: "btn btn-secondary layer-1 mb-5", data: { confirm: 'Are you sure you want to unpublish this article?' } do %><i class="far fa-envelope-open mr-2"></i>Unpublish this article<% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="mb-5">
          <%= render partial: 'fiat_publication/content_labels/checklist', locals: { labels: FiatPublication::ContentLabel.order("name ASC").all, assignable: article } %>
        </div>
        <%= simple_form_for article, url: article_update_url do |f| %>
          <%= f.input :excerpt, placeholder: "Add a short description (10 to 20 words)" %>
          <%= f.input :slug, placeholder: "article-slug" %>
          <% if article.image.attached? %>
            <%= image_tag article.image.variant(resize: "500x500"), width: "100%", style: "max-width: 500px;", class: "mb-3" %>
            <%= f.input :image_placement, collection: FiatPublication::Article.image_placements.keys.map { |w| [w.humanize, w] }, input_html: { class: 'chosen-select' }, prompt: "Select placement" %>
            <%= f.input :image, as: :file, label: "Replace image", hint: "At least 1500 x 800 pixels.", input_html: { direct_upload: true } %>
          <% else %>
            <%= f.input :image, as: :file, label: "Add featured image", hint: "At least 1500 x 800 pixels.", input_html: { direct_upload: true } %>
          <% end %>
          <%= f.button :button, type: :submit, class: "btn btn-primary layer-1 mb-5" do %><i class="far fa-check mr-2"></i>Save article<% end %>
        <% end %>
        <%= link_to "#{article_update_url}?nested_parent_id=#{nested_parent_id}", method: :delete, data: { confirm: 'Are you sure? This cannot be undone. Click to confirm.' }, class: "btn btn-danger layer-1" do %>
          <i class="far fa-trash mr-2"></i>Delete this article
        <% end %>
      </div>
    </div>
  </div>
</section>
