<div class="container cms editor">
  <div class="row">
    <div class="col-lg-3">
      <% if article.is_published? %>
        <%= link_to "#{view_article_path}", target: "_blank", class: "btn btn-link mb-3 mr-3" do %><i class="far fa-external-link mr-2"></i>View article<% end %>
      <% else %>
        <%= link_to "#{preview_article_path}", target: "_blank", class: "btn btn-link mb-3 mr-3" do %><i class="far fa-external-link mr-2"></i>Preview article<% end %>
      <% end %>
    </div>
    <div class="col-lg-9">
      <% if !article.is_published? %>
        <%= simple_form_for article, url: article_update_url do |f| %>
          <div class="row">
            <div class="col-lg-5">
              <p class="p-2 text-right">Select a date to publish this article:</p>
            </div>
            <%= f.input :published_at, html5: true, as: :date, label: false, wrapper_html: { class: 'col-lg-4' }, input_html: { value: Date.today } %>
            <div class="col-lg-3">
              <%= f.button :button, type: :submit, class: "btn btn-success layer-1 btn-block mb-5", data: { confirm: 'Please make sure to save any changes to the article before publishing. Are you sure you are ready?' } do %>Publish<% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="row">
          <div class="col-lg-5">
            <p class="p-2 text-right">This article is published:</p>
          </div>
          <div class="col-lg-4">
            <p class="px-4 py-2 bg-light-gray"><i class="fal fa-calendar mr-2"></i><%= l article.published_at, format: :date_only %></p>
          </div>
          <div class="col-lg-3">
            <%= simple_form_for article, url: article_update_url do |f| %>
              <%= f.input :published_at, as: :hidden, input_html: { value: nil }, wrapper_html: { class: 'my-0' } %>
              <%= f.button :button, type: :submit, class: "btn btn-secondary btn-block layer-1", data: { confirm: 'Are you sure you want to unpublish this article?' } do %>Unpublish<% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 py-3" data-controller="auto-grow-textarea">
      <%= simple_form_for article, url: article_update_url, remote: true, data: { controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error" } do |f| %>
        <%= render partial: 'layouts/synapse_ui/components/autosave-status' %>
        <%= f.input :title, as: :text, label: false, placeholder: "Title (required)", input_html: { rows: 1, data: { action: "change->autosave#save keyup->autosave#save input->auto-grow-textarea#resize", target: "auto-grow-textarea.input" }} %>
        <% if !article.published_at? %><span class="btn btn-link disabled"><i class="fal fa-pencil mr-2"></i>Saved as draft</span><% end %>
      <% end %>
    </div>
    <div class="col-lg-4 pl-5">

    </div>
  </div>
  <div class="row justify-content-end">
    <div id="contentBlocks" class="col-lg-8 pr-5" data-controller="drag-content-block">
      <% if article.content_blocks.any? %>
        <% article.content_blocks.order("position ASC").each do |i| %>
          <div class="content-block py-5 border-bottom" data-content-block-id="<%= i.id %>" data-position="<%= i.position %>" data-action="dragstart->drag-content-block#dragstart dragover->drag-content-block#dragover dragenter->drag-content-block#dragenter drop->drag-content-block#drop dragend->drag-content-block#dragend" data-url="<%= content_block_sort_path %>" >
            <!-- <h3><%#= i.block_type.humanize %> block</h3> -->
            <% content_block = SynapseContent::ContentBlock.find(i.id) %>
            <% content_block_url = "#{content_block_path}/#{content_block.id}" %>
            <%= render partial: 'synapse_content/content_blocks/form', locals: { content_block: content_block, url: content_block_url } %>
          </div>
        <% end %>
      <% end %>
      <div class="mt-4">
        <%= link_to new_content_block_url, remote: true, class: 'btn btn-link' do %><i class="far fa-plus mr-2"></i>Add more content<% end %>
      </div>
    </div>
    <div class="col-lg-4 my-2 pb-5 pl-5 border-left">
      <%= simple_form_for article, url: article_update_url, remote: true, data: { controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error" } do |f| %>
        <%= render partial: 'layouts/synapse_ui/components/autosave-status' %>
        <%= f.input :excerpt, label: false, placeholder: "Add a short excerpt (10 to 20 words)", input_html: { rows: 3, data: { action: "change->autosave#save keyup->autosave#save" }}, wrapper_html: { class: 'mt-4' }, hint: "A short snippet of your article for sharing" %>
        <%= f.input :slug, label: false, placeholder: "article-slug", hint: "This slug will show up in your article URL", input_html: { data: { action: "change->autosave#save keyup->autosave#save" }}, wrapper_html: { class: 'my-5' } %>
      <% end %>
      <% if article.image.attached? %>
        <%= simple_form_for article, url: article_update_url, remote: true, data: { controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error" } do |f| %>
          <%= render partial: 'layouts/synapse_ui/components/autosave-status' %>
          <%= f.input :image_placement, collection: SynapseContent::Article.image_placements.keys.map { |w| [w.humanize, w] }, input_html: { data: { action: "change->autosave#save keyup->autosave#save" }}, prompt: "Select placement" %>
        <% end %>
        <%= simple_form_for article, url: article_update_url do |f| %>
          <%= image_tag article.image.variant(resize: "500x500"), width: "100%", style: "max-width: 500px;", class: "mb-3" %>
          <%= f.input :remove_image, as: :boolean %>
          <%= f.button :button, type: :submit, class: "btn btn-primary remove-image-submit layer-1 mb-5", style: "display: none;" do %><i class="fal fa-check mr-2"></i>Confirm removal<% end %>
          <script>
            $(document).ready(function(){
              $('#article_remove_image').change(function(){
                if(this.checked)
                  $('.remove-image-submit').css('display', 'block');
                else
                  $('.remove-image-submit').css('display', 'none');
              });
            });
          </script>
        <% end %>
      <% else %>
        <%= simple_form_for article, url: article_update_url do |f| %>
          <%= f.input :image, as: :file, label: "Featured image", hint: "At least 1500 x 800 pixels.", input_html: { direct_upload: true } %>
          <%= f.button :button, type: :submit, class: "btn btn-primary layer-1 mb-5 upload-image-submit", style: "display: none;" do %><i class="far fa-cloud-upload mr-2"></i>Upload image<% end %>
          <script>
            $(document).ready(function(){
              $('#article_image').change(function(){
                $('.upload-image-submit').css('display', 'block');
              });
            });
          </script>
        <% end %>
        <%= link_to "https://unsplash.com", target: '_blank', class: 'btn btn-link mt-3' do %><i class="far fa-images mr-2"></i>Find images<i class="far fa-long-arrow-right ml-2"></i><% end %>
      <% end %>
      <% if SynapseContent::ContentLabel.where(publisher_type: publisher_type, publisher_id: publisher_id).any? %>
        <div class="mb-5">
          <p class="desc"><i class="far fa-tags mr-2"></i>Include categories</p>
          <%= render partial: 'synapse_content/content_labels/checklist', locals: { labels: SynapseContent::ContentLabel.where(publisher_type: publisher_type, publisher_id: publisher_id).order("name ASC").all, assignable: article } %>
        </div>
      <% end %>
      <div class="mt-5 border-top">
        <%= link_to "#{article_update_url}?nested_parent_id=#{nested_parent_id}&destroy_redirect_path=#{destroy_redirect_path}&destroy_redirect_variable=#{destroy_redirect_variable}", method: :delete, data: { confirm: 'Are you sure? This cannot be undone. Click to confirm.' }, class: "btn btn-link text-red mt-4" do %><i class="far fa-times mr-2"></i>Delete this article<% end %>
      </div>
    </div>
  </div>
</div>
